body {
  background-color: #eee;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}   

td.active {
  font-weight: bolder;
  background-color: #edf8b1;
}

/* scatter */

#scatterContainer {
  width: 500px;
}

#scatterContainer.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
}

#scatterContainer form{
  margin-bottom: 25px;
}

/* confidences table */

#confidences {
  border-collapse: collapse;
  margin-right: 25px;
}

#confidences, #confidences th, #confidences td {
  border: 1px solid #ddd;
}

#confidences th, #confidences td {
  padding: 5px;
}

#confidences td {
  cursor: pointer;      
}

td.ccConf, td.dipConf, td.kraken {
  text-align: right;
  width: 100px;
}

td.kraken {
  text-align: center;
}

td.ccConf, td.dipConf, td.kraken > span.number {
  font-size: 16px;
  font-weight: bold;
}

#confidences tr:nth-child(odd) { 
  background-color:#f4f4f4; 
}

#confidences tr:nth-child(even) { 
  background-color:#ffffff; 
}

td.clean, td.warning, td.contaminated {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

td.clean {
  background-image: url(clean.png);
}

td.warning {
  background-image: url(warning.png);
}

td.contaminated {
  background-image: url(contaminated.png);
}

/* bars */
#confidences td svg {
  display: block;
  margin: auto;    
}

.bar {
  fill: #222;
}

.bar:hover {
  fill: red;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

/* export colors */
#exportColors {
  font-size: 40px;
}

/* d3 tooltips */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  z-index: 10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}